{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% block styles%}
{% bootstrap_css %}
{% endblock %}
    <title>Document</title>
</head>

<body style="overflow-x: hidden;">
    {% include 'navbar.html' %}
    {% include 'modal.html' %}
    <div class="row" style="display:flex;flex-wrap:wrap;justify-content: space-between; padding: 20px;overflow-x: hidden">
        {% for movie in movies %}
        <div class="">
            <h3>{{movie.title}}</h3>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" onclick='showModal("{{movie.title}}","{{movie.overview}}","{{movie.vote_average}}","{{movie.poster_path}}","{{movie.key}}")' alt="">
        </div>
        {% endfor %}
    </div>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
        <script src="{% static 'js/modal.js' %}"></script>
    {% endblock%}
</body>

</html>