{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video</title>
    {% block styles%}
    {% bootstrap_css%}
    {% endblock %}
</head>
<body>
    {% include 'navbar.html'%}
    <div class="container" style="margin-left: 17em; margin-top: 3.8em; margin-bottom: 0em; margin-right:17em">
        <iframe width="650" height="500" src="https://www.youtube.com/embed/{{id}}" style="border: none"></iframe>
    </div>
</body>
</html>